<div>
	<div>
		<label>Title  : </label>
		<h3>{{complaint.title}}</h3>
	</div>
	<div>
		<label>Description  : </label>
		<p>{{complaint.description}}</p>
	</div>
	<div>
		<label>Ward : </label>
		<p>{{complaint.ward}}</p>
	</div>
	<div>
		<label>Area  : </label>
		<p>{{complaint.area}}</p>
	</div>
	<div>
		<label>City : </label>
		<p>{{complaint.city}}</p>
	</div>
	<div>
		<label>State  : </label>
		<p>{{complaint.state}}</p>
	</div>
	<div>
		<label>tags  : </label>
		<span ng-repeat="tag in complaint.tags">  {{tag}}  </span>
	</div>
	<div>
		<div>
			<label>Comment Thread : </label>
			<ul>
				<li ng-repeat="comment in complaint.comments">
					<div>
						<div>
							<span>{{comment.name}} at {{comment.timestamp | date}}</span>
						</div>
						<div>
							<p>{{comment.comment}}</p>
						</div>
					</div>
				</li>
			</ul>
			<div ng-if="complaint.comments.length == 0">
				No comments yets
			</div>
		</div>
		<div>
			<label>Add a comment</label>
			<div>
				<input type="text" ng-model="newcomment.comment">
				<button ng-click="submit_comment()">Submit</button>
			</div>
		</div>
	</div>
	
</div>