<div class="wrapper">
  <form class="login">
    <p class="title">Sign Up</p>
    <input type="text" placeholder="Username" name="username" ng-model="user.name" autofocus/>
    <i class="fa fa-user"></i>
    <input type="password" name="password" ng-model="user.password" placeholder="Password" />
    <i class="fa fa-key"></i>
    <input type="text" placeholder="Ward" name="ward" ng-model="user.ward" autofocus/>
    <i class="fa fa-user"></i>
    <input type="text" placeholder="Area" name="area" ng-model="user.area" autofocus/>
    <i class="fa fa-user"></i>
    <input type="text" placeholder="City" name="city" ng-model="user.city" autofocus/>
    <i class="fa fa-user"></i>
    <input type="text" placeholder="State" name="state" ng-model="user.state" autofocus/>
    <i class="fa fa-user"></i>
    <a href="/#!/login">Already a User? Log in !</a>
    <button ng-click="submit_form()">
      <i class="spinner"></i>
      <span class="state">Sign Up</span>
    </button>
  </form>
  <!-- <footer></footer> -->
  </p>
</div>



<!-- <div>
	SIGNUP FORM
	<form>
		<div>
			<label>NAME : </label>
			<input type="text" name="name" ng-model="user.name">
		</div>
		<div>
			<label>PASSWORD : </label>
			<input type="password" name="password" ng-model="user.password">
		</div>
		<div>
			<label>Ward : </label>
			<input type="text" name="Ward" ng-model="user.ward">
		</div>
		<div>
			<label>Area  : </label>
			<input type="text" name="area" ng-model="user.area">
		</div>
		<div>
			<label>City : </label>
			<input type="text" name="city" ng-model="user.city">
		</div>
		<div>
			<label>State  : </label>
			<input type="text" name="state" ng-model="user.state">
		</div>
		<input type="submit" name="" ng-click="submit_form()">
		<a href="#" ng-click="redirecttologin()">Already a user?</a>
	</form>
</div>
 -->