<!-- <div class = "main">
	<div id="info">
		<h1> {{ username }} </h1>
	</div>
	<div id="issue-list">

		<div ng-repeat="issue in issues" href="/complaint/"+{{issue._id}}>
			<li> {{issue.description.substr(0,100)}} </li>
			<div ng-repeat="tag in issue.tags" >
				<p> {{ tag }} </p>
			</div>
		</div>

	</div>
</div>

 -->

<button ng-click="add_complaint()"  style="color:black;">Add complaint</button>
<div class="feed__container">

	  <div class="codepenFeed__container card">
      <span class="codepenFeed__name">{{username}} </span>
      <div class="codepenFeed__item-container codepenFeed__scrollbar">
      <div class="codepenFeed__item" ng-repeat="complaint in complaints">
      <a href="" target="_blank" ng-click="gotocomplaint(complaint)">
      <img class="codepenFeed__thumbnail card" src="app/img/small.png" alt="Screenshot of {{complaint.title}}">
      </a>
      <span class="codepenFeed__title codepenFeed__glass">{{complaint.title}}</span>
      <span class="codepenFeed__date codepenFeed__glass">Description: {{complaint.description}}</span>
      </div>
      </div>
      </div>
</div>
